.App {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'main' 'nav';
  text-align: center;
  background-color: #282c34;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
}

.App-body {
  grid-area: 'main';
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}

.App-nav {
  grid-area: 'nav';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: right;
  margin-right: 2rem;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: rgba(236, 236, 236, 0.5);
  font-size: 2rem;
}

a.active {
  color: rgba(236, 236, 236, 1);
  font-weight: 700;
}

h1 {
  margin-top: 8rem;
  font-weight: 700;
  font-size: 6rem;
  color: #866496;
}

h2 {
  color: rgba(236, 236, 236, 1);
  font-size: 5rem;
  padding: 0;
  margin: -1rem;
}