.project-tile {
    background-color: #866496;
    padding: 1rem;
    width: min-content;
    border-radius: 1rem;
    color: #282c34;
}

.project-img {
    width: 20rem;
    border: .5rem solid rgb(40, 44, 52);
    border-radius: 1rem;
}

.projects-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.project-img:hover {
    border: .5rem solid rgba(40, 44, 52, 0.5);
    transition: .5s;
}

p {
    font-size: 1.5rem;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}