.project-tile {
    width: 20rem;
    border: .5rem solid #866496;
    border-radius: 1rem;
}

.projects-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.project-tile:hover {
    border: .5rem solid rgba(255, 255, 255, 0.8);
    transition: .5s;
}